In [1]:
a=10
if a==10:
    print('this is my first condition')

this is my first condition

In [2]:
a=20
if a>8:
    pass

In [4]:
a=10
if a<8:
    print('this is true')

In [8]:
a=10
if a==12:
    print('here we are tryiny to compare 10 with 12')
elif a==10:
    print('we are trying to compare 10 with 10')
else:
    print('if all fails then do this')

we are trying to compare 10 with 10

In [13]:
price = 500
if price>500:
    print(' may be i wont be able to buy a jacket')
elif price<500:
    print('i will be able to buy a jacket')
elif price==500:
    print('for sure i will buy it')
else:
    print('go to jungle')

for sure i will buy it

In [14]:
price>500

False

In [15]:
price <500

False

In [16]:
price==500

True

In [17]:
l=[1,2,3,4,5,6]
2 in l

True

In [19]:
if 8 in l:
    print('try to perform a task')
else:
    print('dont perform this task')

dont perform this task

In [25]:
if 21 in l :
    print('try to do a addition')
elif 3 in l :
    print('try to do sub')
elif 4 in l :
    print('try to do a null')
if 4 in l:
    print('this is a new statement')

try to do sub
this is a new statement

In [29]:
a=400
b=int(input())

345

In [30]:
b

345

In [31]:
type(b)

int

In [40]:
price=int(input())
if price<500:
    print('i will be able to buy something')
    if price<400:
        print('i will be able to buy a jacket')
    elif price <300:
        print('i will be able to buy a tshirt')
    else:
        print('i wont be able to buy anything')
else:
    print('i wont buy anything')
    if price >500:
        print('lets try new')

700
i wont buy anything
lets try new

In [42]:
marks=int(input())
if marks <600:
    print('no gre')
    if marks <500:
        print('toefl')
        if marks<400:
            print('try something else')
    else:
        print('you got toefl')
else:
    print('u got gre')

780
u got gre

In [46]:
val = float (input('enter a floating point a number'))
if val>=0:
    if val==0:
        print('entered value is zero')
    else:
        print('entered value is positive num')
else:
    print('entered number is neg')

enter a floating point a number98
entered value is positive num

In [57]:
a=10
if a < 10 and a>10 :
    print('try to do something')

In [58]:
a = 'chinmaya'
if a == 'chinmaya'or a =='Chinmaya':
    print('this is chinmaya')

this is chinmaya

In [60]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print('lets do something')

lets do something

In [61]:
d={'key1':'value','key2':'chinu','key3':'ineuron'}

In [67]:
if d ['key1']=='value'or d['key2']=='chinu' and d['key3']=='ineuron':
    print('all are verified')
    print(d.values())
else:
    print('all are not verified')

all are verified
dict_values(['value', 'chinu', 'ineuron'])

In [77]:
l=[1,2,3,4,5,'chin',78.26]

In [78]:
for i in l:
    if type(i)==int or type (i) == float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
chin1
79.26