In [1]:
l=[1,2,3,4,'chinu',38.25]

In [2]:
for i in l:
    print(i)

1
2
3
4
chinu
38.25

In [3]:
s='chinmaya'

In [4]:
for i in s:
    print(i)

c
h
i
n
m
a
y
a

In [6]:
for i in l:
    if i ==4:
        break
    print(i)

1
2
3

In [8]:
for i in l:
    print(i)
else:
    print('this will execute else')

1
2
3
4
chinu
38.25
this will execute else

In [9]:
s='shankar'

In [14]:
for i in s:
    if i=='p':
        break
    print(i)
else:
    print('print string',s)

s
h
a
n
k
a
r
print string shankar

In [16]:
t=(2,4,6,8,"shan")
for i in t:
    print(i)

2
4
6
8
shan

In [17]:
v={2,4,44,55,44,55,6,6,6,6,89,'chin'}
for i in v:
    print(i)

2
4
6
55
chin
89
44

In [18]:
v

{2, 4, 44, 55, 6, 89, 'chin'}

In [19]:
d={'key1':"chinu",'contact':'901024102','position':'cxz'}
for i in d:
    print(i,d[i])

key1 chinu
contact 901024102
position cxz

In [22]:
d['key1']

'chinu'

In [23]:
range(9)

range(0, 9)

In [24]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [26]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [27]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print('chinu',end=' ')
    print('\n')

chinu

chinu chinu

chinu chinu chinu

chinu chinu chinu chinu

In [30]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('chinu'),end=' ')
    for j in range(i+1):
        print('chinu',end=' ')
    for j in range(i):
        print('chinu',end=' ')
    print()

            chinu
      chinu chinu chinu
chinu chinu chinu chinu chinu

In [32]:
t=(2,34,56,76,54,6)
for i in range(len(t)):
    print(i,t[i])

0 2
1 34
2 56
3 76
4 54
5 6

In [36]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5]

In [38]:
s= 'ineuron'
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [39]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [40]:
d

{'key1': 'chinu', 'contact': '901024102', 'position': 'cxz'}

In [45]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'chinu') <class 'tuple'> <class 'str'>
('contact', '901024102') <class 'tuple'> <class 'str'>
('position', 'cxz') <class 'tuple'> <class 'str'>

In [47]:
l=[23,45,64435,6794,'chinu','shnak']
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [48]:
l1

[23, 45, 64435, 6794]

In [51]:
d={23:'45637','name':'chinu',"email":'chinu@12',56:'5464','43':'dgyehfbfsb'}
for i in d:
    print(i)

23
name
email
56
43

In [52]:
for i in d:
    if type(i)==int:
        print(i, ' : ', d[i])

23  :  45637
56  :  5464

In [53]:
s='aaddcccggg'
set(s)

{'a', 'c', 'd', 'g'}

In [54]:
for i in set(s):
    print(i, ':' ,s.count(i))

g : 3
c : 3
d : 2
a : 2

In [58]:
t=((23,34),'chinu',[1,34,23,78,98],{'key1':'chinmaya','key2':'shankar'})
type(t)

tuple

In [61]:
t[2][3]

78

In [63]:
for i in t:
    if type (t) == list or type (t)==tuple:
        for j in i:
            if j ==34:
                print(j)
    if type (i)==dict:
        print (i)

34
34
{'key1': 'chinmaya', 'key2': 'shankar'}